


.margin-5{
    margin-left: 5px;
}

.text-center{
    text-align: center;
}

.width-550{
    width: 550px;
}

.gap-72{
    gap: 72px;
}
.gap-16 {
    display: grid;
}

.width-10rem {
    width: 10rem;
}

/*HERO*/
.hero_divider{
    width: 100vw;
}

/*SUMMARY*/
#summary .section_container {
    justify-content: space-evenly;
}
.img_mockup_1 {
    width: 100%; 
    height: 60vh;
    filter: drop-shadow(-639px -237px 191px 0px rgba(85, 73, 73, 0.00), -409px -152px 174px 0px rgba(85, 73, 73, 0.01), -230px -85px 147px 0px rgba(85, 73, 73, 0.05), -102px -38px 109px 0px rgba(85, 73, 73, 0.09), -26px -9px 60px 0px rgba(85, 73, 73, 0.10));
    object-fit: cover;
    position: absolute;
    object-position: 80% 0;
    right: 5rem;
    bottom: -5rem;
}

.img_mockup_2 {
    width: 100%; 
    height: 60vh;
    filter: drop-shadow(-639px -237px 191px 0px rgba(85, 73, 73, 0.00), -409px -152px 174px 0px rgba(85, 73, 73, 0.01), -230px -85px 147px 0px rgba(85, 73, 73, 0.05), -102px -38px 109px 0px rgba(85, 73, 73, 0.09), -26px -9px 60px 0px rgba(85, 73, 73, 0.10));
    object-fit: cover;
    position: absolute;
    object-position: 20% 0;
    left: 5rem;
    top: -5rem;
}

.pic-container-summary {
    display: flex;
    width: 60rem;
    position: relative;
}

/*HEURISTIC ANALYSIS SECTION*/

.section_text_container_aiva{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.section_text_p2_aiva{
    color: #000;
    margin-top: 5px;
    font-family: Agrandir;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(1ex / 0.32);
    letter-spacing: 1.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70em;
}

#heuristic_analysis .gap-16 {
    width: 80vw;
}

#heuristic_analysis .no-wrap-row {
    align-items: stretch;
    justify-content: start;
    gap: 1rem;
  }

#heuristic_analysis .flex {
    width: 100%;
}

#heuristic_analysis .subheader_h3 {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section_text-container {
    justify-self: stretch;
    align-content: center;
}

.settings_icon{
    position: relative;
    top: 10px;
    margin-right: 1rem;
}
.first_column{
    text-align: center;
}
.final_pic{
    width: 80vw;
    padding-top: 1.5rem;
    box-shadow: 2px 4px 12px #00000014;
}

/*VIDEO SECTION*/
video{
    width: 80vw;
}

/*ITERATIVE DESIGN SECTION*/
.grid-container-interactive{
    --g: 1rem;
    display: grid;
    width: 80vw;
    border-radius: 10px;
    grid-template-columns: repeat(2, auto);
    aspect-ratio: 1;
    gap: var(--g);
    --s: 150px;
    --f: 1.5;
}

.iteration_pic{
    object-fit: cover;
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    transition: .35s ease-in;
    box-shadow: 2px 4px 12px #00000014;
}

.grid-container-interactive img:hover {
    width: calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
}

/*COMPARE CURRENT AND NEW SECTION*/
#compare_current_and_new .section_subcontainer{
    gap: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.comparison_img_left{
    max-width: 130%;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

.comparison_img_right{
    max-width: 130%;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

/*TAKEAWAYS SECTION*/

#Takeaways .section_subcontainer {
    gap: 0.5rem;
}

@media only screen and (max-width: 1000px) {
    
    #heuristic_analysis .no-wrap-row {
        align-items: stretch;
        justify-content: start;
        flex-direction: column;
        gap: 0.2rem;
    }

    #heuristic_analysis .subheader_h3 {
        align-items: baseline;
        justify-content: start;
        height: inherit;
    }
    .width-10rem{
        width: 80vw;
        height: 1.5rem;
    }

    .section_text_container_aiva {
        height: auto;
    }

    .pic-container-summary{
        width: auto;
        display: none;
    }
}

@media only screen and (max-width: 600px) {
.keys{
    width: 80vw;
    gap: 30px;
}

.key{
    width: 35vw;
}

#summary .primary-button-style{
    left: 0;
    right: 0;
}

video {
    width: 90vw;
}

.img_mockup_1 {
    display: none;
}

.pic-container {
    width: 80vw;
    position: static;
}

.img_mockup_2 {
    position: static;
    width: 80vw;
    height: 35vh;
    object-position: 50% 0;
}

.width-10rem {
    width: 80vw;
}
#compare_current_and_new .middle {
    margin-bottom: 0.5rem;
}

#compare_current_and_new .aboutme-h2 {
    text-align: center;
}
.no-wrap-row {
    flex-direction: column;
}

.comparison_img_left {
    width: 100%;
    margin: 0;
}

.comparison_img_right {
    width: 100%;
    margin: 0;
}

#compare_current_and_new .section_subcontainer {
    margin: 0;
    gap: 0;
}

.width-550{
    width: 80vw;
    text-align: left;
}

}

