@media screen and (max-width: 800px) {
    #desktop-nav {
        display: none !important;
    }   
    #hamburger-nav {
        display: flex !important;
    }
    .menu-links{
        width: 100% !important;
        font-family: 'Agrandir';
        font-weight: bold;
        text-shadow: 1px 1px 10px #FFF, 1px 1px 10px #F0F0F5;
    }
}