  .wrapper {
      display: table;
      width: 40vw;
      height: 30vw;
  }

  .carousel-container {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      overflow: hidden;
  }

  .carousel {
      display: inline-block;
      position: relative;
      width: 40vw;
      height: 30vw;
  }

  .carousel__item {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -25%;
      width: 50%;
      height: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 0.5s, opacity 0.5s;
  }

  .carousel__item.static {
      transition: none;
  }

  .carousel__item--left {
    z-index: 0;
      transform: translateX(-75%) scale(0.7);
  }

  .carousel__item--center {
      z-index: 1;
  }

  .carousel__item--right {
    z-index: 0;
      transform: translateX(75%) scale(0.7);
  }

  .carousel__item--out.carousel__item--left {
    z-index: -1;
    transform: translateX(-125%) scale(0.7);
  }
  .carousel__item--out.carousel__item--right {
    z-index: -1;
    transform: translateX(125%) scale(0.7);
  }

  .carousel__arrow {
      display: table-cell;
      vertical-align: middle;
      position: absolute;
      top: 35%;
      height: 120px;
      width: 120px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 57px;
      border: 3px solid #D5D3F8;
      background: rgba(213, 211, 248, 0.56);
      z-index: 1;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }

  .carousel__arrow:hover {
    background: rgba(157, 154, 222, 0.44);

  }

  .carousel__arrow::before {
      display: inline-block;
      position: relative;
      top: 50%;
      font-size: 24px;
      transform: translateY(-50%);
  }

  .carousel__arrow--left {
      left: 10px;
  }

  .carousel__arrow--left::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="58" viewBox="0 0 49 58" fill="none"><path d="M2 29L47 2L15.95 29L47 56L2 29Z" fill="black" stroke="black" stroke-width="4" stroke-linejoin="round"/></svg>');
    translate: 10%;
    }

  .carousel__arrow--right {
      right: 10px;
  }

  .carousel__arrow--right::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="58" viewBox="0 0 49 58" fill="none"><path d="M47 29L2 2L33.05 29L2 56L47 29Z" fill="black" stroke="black" stroke-width="4" stroke-linejoin="round"/></svg>');
    translate: 10%;
  }

  .hero_pic_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
  }

  .hero_pic {
      width: 50vw;
      object-fit: contain;
  }

  .hero_width {
      width: 70vw;
  }

  .line {
      width: 70vw;
      stroke-width: 1.5px;
      stroke: #000;
      margin-left: 0;
  }

  .keys {
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 70vw;
      gap: 1.5rem;
  }

  .key {
      width: 12rem;
  }

  .margin-5{
    margin-left: 5px;
}

  #hero:first-child {
    margin-top: 10vh;
  }

  #hero {
    gap: 24px;
  }

  section {
    padding-bottom: 20vh;
  }

  .mockup{
    display: flex;
    object-fit: contain;
    width: 450px;
  }

  #summary .section_subcontainer{
    max-width: 640px;
  }

  #summary .section__pic-container{
    width: 35vw;
    height: auto;
  }

  .coffee_app_mockup{
    height: 60vh;
    width: auto;
  }

  #takeaways.section_container {
    align-items: end;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }

  #takeaways .aboutme-h2{
    display: flex;
    width: 600px;
    justify-content: end;
    align-items: end;
  }

  .pic-container {
    display: flex;
    width: 25vw;
    height: inherit;
    position: static;
  }

  .hand-showcase{
    width: 35vw;
    position: relative;
    left: -25%;
    top: -10%;
  }

  .section_container-photo {
    display: flex;
    height: 600px;
    width: auto;
    margin: 0 0;
  }
  
  .research_p2 {
    color: #000;
    font-family: GeneralSans-Variable;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: calc(1ex / 0.32);
    margin-left: 10px;
    margin-top: 5px;
  }

  .results {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    text-align: center;
}

.result {
    max-width: 17vw;
}

.column {
    display: flex;
    flex-direction: column;
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.no-wrap-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.more-image {
    display: block;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    display: flex;
    width: 501px;
    height: 356.372px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.more-img-container {
    position: relative;
    color: #000;
    margin: 0;

}

.more-img-container img {
    transition: .3s ease;
}

.grid-container-more {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5vh;
}

.more-img-container:hover #hover {
    filter: brightness(60%);
    transition: .3s ease;
}

.more-img-container:hover .overlay {
    opacity: 1;
}

.hover-text-more {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: .5s ease;
  font-family: Agrandir;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 440px;
}

.display-mobile{
  display: none;
}

@media only screen and (max-width: 1000px) {
  .row {
    flex-wrap: wrap;
  }

  #summary .section_container {
    flex-wrap: wrap;
  }
  #takeaways .section_container{
    flex-wrap: wrap-reverse;
  }

  #takeaways .aboutme-h2 {
    width: auto;
  }

  .hand-showcase {
    width: 80vw;
    position: inherit;
  }
  .keys{
    width: 80vw;
    gap: 30px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .key{
    display: flex;
    flex-direction: column;
    width: 35vw;
    background-color: #D5D3F8;
    box-shadow: 2px 4px 12px #00000014;    
    border-radius: 10px;
    height: 18vh;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  
  .key .subheader_h3{
    font-size: 1.8rem;
    text-align: center;
    color: #000;
    margin-bottom: 0.5rem;
  }
  .key .section_text_p2{
    font-size: 0.9rem;
    text-align: center;
  }
} 

@media only screen and (max-width: 600px) {
  #hero:first-child {
    margin-top: 10vh;
  }
  
  .hero_pic{
    width: 80vw;
    height: auto;
  }

  .hero_width{
    width: 80vw;
    font-size: 2rem;
  }

  .hero_width.aboutme-h2{
    font-size: 1.8rem !important;
    text-align: center;
  }

  .line{
    width: 80vw;
    margin: 0;
    stroke-width: 0.5rem;
  }

  .keys{
    width: 80vw;
    gap: 30px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .key{
    display: flex;
    flex-direction: column;
    width: 35vw;
    background-color: #D5D3F8;
    box-shadow: 2px 4px 12px #00000014;    
    border-radius: 10px;
    height: 18vh;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  
  .key .subheader_h3{
    font-size: 1.8rem;
    text-align: center;
    color: #000;
    margin-bottom: 0.5rem;
  }
  .key .section_text_p2{
    font-size: 0.9rem;
    text-align: center;
  }
 
  .w-640{
    width: 80vw;
    max-width: 70em;
  }

  #summary .section__pic-container{
    width: 90vw;
    height: auto;
    justify-content: center;
  }

  #takeaways .right{
    justify-content: center;
    align-items: center;
  }

  #takeaways .aboutme-h2{
    text-align: center;
    width: 80vw;
  }

  #takeaways .section_container{
    flex-direction: column-reverse;
  }

  .hand-showcase {
    width: 80vw;
    left: 0;
    top: 0;
  }
  .pic-container {
    width: 80vw;
  }

  h1{
    font-size: 48px !important;
  }

  .carousel__arrow--right{
    right: 0;
  }

  .carousel__arrow--left{
    left: 0;
  }

  .carousel__arrow{
    width: 100px;
    height: 100px;
  }

  .carousel{
    width: 80vw;
    height: 40vh;
  }

  #search .left{
    justify-content: center;
    align-items: center;
  }

  #research .left{
    justify-content: center;
    align-items: center;
  }

  #research .right{
    justify-content: start;
    align-items: start;
  }

  .width{
    width: 80vw;
    max-width: 70em;
  }
  .result {
    max-width: 80vw;
}

  .results{
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  #research .aboutme-h2{
    text-align: center;
  }

  #design .aboutme-h2{
    text-align: center;
  }

  #figma_frame{
    display: none;
    width: 80vw !important;
    height: 70vh !important;
  }

  .display-mobile{
    display: contents;
  }

  #design .primary-button-style{
    margin-top: 24px;
    right: 0;
    left: 25%;
  }

  .grid-container-more{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .more-img-container img{
    height: auto;
  }

  .overlay {
      display: none;
  }

}