/* GENERAL */
@font-face {
    font-family: 'ClashGrotesk-bold';
    font-style: bold;
    font-weight: 600;
    src: url('/fonts/ClashGrotesk-Variable.ttf') format('truetype'),
        url('/fonts/ClashGrotesk-Variable.woff') format('woff'),
        url('/fonts/ClashGrotesk-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'ClashGrotesk';
    font-style: normal;
    font-weight: 422;
    src: url('/fonts/ClashGrotesk-Variable.ttf') format('truetype'),
        url('/fonts/ClashGrotesk-Variable.woff') format('woff'),
        url('/fonts/ClashGrotesk-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'PPMigra-italic';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/MigraItalic-ExtralightItalic.ttf') format('truetype'),
        url('/fonts/MigraItalic-ExtralightItalic.woff') format('woff'),
        url('/fonts/MigraItalic-ExtralightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'PPMigra';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Migra-Extralight.ttf') format('truetype'),
        url('/fonts/Migra-Extralight.woff') format('woff'),
        url('/fonts/Migra-Extralight.woff2') format('woff2');
}

@font-face {
    font-family: 'PPMigra-bold';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/Migra-Extrabold.ttf') format('truetype'),
        url('/fonts/Migra-Extrabold.woff') format('woff'),
        url('/fonts/Migra-Extrabold.woff2') format('woff2');
}

@font-face {
    font-family: 'PPMigra-bold-italic';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/MigraItalic-ExtraboldItalic.ttf') format('truetype'),
        url('/fonts/MigraItalic-ExtraboldItalic.woff') format('woff'),
        url('/fonts/MigraItalic-ExtraboldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Agrandir';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Agrandir-WideLight.otf') format('opentype'),
        url('/fonts/agrandir-widelight-webfont.woff') format('woff'),
        url('/fonts/agrandir-widelight-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Agrandir-bold';
    font-weight: bold;
    font-style: bold;
    src: url('/fonts/Agrandir-WideLight.otf') format('opentype'),
        url('/fonts/agrandir-widelight-webfont.woff') format('woff'),
        url('/fonts/agrandir-widelight-webfont.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family: "PPMigra", serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    font-stretch: expanded;
    scroll-behavior: smooth;
}

body {
    display: grid;
    min-height: 100vh;
    place-content: center;
}

h1 {
    font-family: 'ClashGrotesk-bold';
    font-style: bold;
    font-weight: 600;
    margin: 0;

}
h2 {
    font-size: 2rem;
    font-family: 'ClashGrotesk';
    color: #0E4132;
}

h3 {
    font-family: 'ClashGrotesk';
    font-style: normal;
    font-size: 1.5rem;
    color: #0E4132;
    font-weight: 400;
}

p {
    color: #222;
    font-family: 'Agrandir';
    font-weight: normal;
    font-style: normal;
    max-width: 70em;
    line-height: calc(1ex / 0.32);
    margin: 0;
}

/* TRANSITION */

a,
.btn {
    transition: all 300ms ease-in-out;
}


/* CONTAINER */

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    width: 100%;
}

/* DESKTOP NAV */
.nav-wrapper{
    width: 100%;
    position: fixed; 
    top: 0; /* Position the navbar at the top of the viewport */
    z-index: 1000;
    background: linear-gradient(to bottom, 417px 275px 140px 0px rgba(169, 169, 169, 0.00), 267px 176px 128px 0px rgba(169, 169, 169, 0.01), 150px 99px 108px 0px rgba(169, 169, 169, 0.05), 67px 44px 80px 0px rgba(169, 169, 169, 0.09), 17px 11px 44px 0px rgba(169, 169, 169, 0.10));
    backdrop-filter: blur(5px)!important;
    -webkit-backdrop-filter: blur(5px)!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav {

    width: 80vw;
    margin: 0;
}

nav,
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    font-family: 'Agrandir';
    font-weight: bold;
    text-shadow: 1px 1px 10px #FFF, 1px 1px 10px #F0F0F5;

}

nav img{
    transition: all 0.3s ease-in-out;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #222;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #e1bee7;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2rem;
}

.logo {
    height: 60px;
}

.logo:hover {
    height: 70px;
    transition: all 0.3s ease-in-out;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #222;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 10px #FFF, 2px 2px 10px #F0F0F5;
}

.menu-links {
    top: 100%;
    right: 0;
    max-height: 0;
    overflow: hidden;
}

.menu-links a:active {
    background-color: #e1bee7;
    transition: all 0.2s ease-in-out;
}

.menu-links a {
    display: flex;
    flex-direction: column;
    float: none;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #222;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-bottom: 20vh;
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    justify-content: space-between;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8rem;
}

#home{
    padding-top: 10vh;
    padding-bottom: 20vh;
}

#home .primary-button{
    padding-top: 24px;
    margin-bottom: 34px;
}

.section_container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 80vw;
    align-items: center;
}

.section_subcontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

/* PROFILE SECTION */
#home .section__pic-container {
    position: relative;
}

#home .section_container {
    justify-content: space-evenly;
}

.section__pic-container {
    display: flex;
    max-width: 60vw;
    margin: 0 0;
    height: 50vh;
    object-fit: contain;
}

.media-resize {
    border-radius: 2rem;
}

.hello_flower_1 {
    width: 40%;
    position: absolute;
    rotate: -25deg;
    z-index: 1;
    top: 90%;
    left: -15%;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_1:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

.hello_flower_2 {
    width: 18%;
    position: absolute;
    rotate: -20deg;
    top: 51%;
    left: -30%;
    z-index: 1;
    animation: move-down1 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_2:nth-child(2) {
    animation-name: move-up6;
}

.hello_flower_3 {
    width: 6rem;
    position: absolute;
    rotate: -15deg;
    top: 32%;
    left: -20%;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_3:nth-child(2) {
    bottom: 32rem;
    right: 45rem;
    animation-name: move-down1;
}

.hello_flower_4 {
    width: 5rem;
    position: absolute;
    rotate: -10deg;
    top: 0.2rem;
    left: -15%;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_4:nth-child(2) {
    bottom: 32rem;
    right: 45rem;
    animation-name: move-down1;
}

.hello_flower_5 {
    width: 9.5rem;
    position: absolute;
    top: 80%;
    left: 6.5rem;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_5:nth-child(2) {
    bottom: 32rem;
    right: 45rem;
    animation-name: move-down1;
}

.hello_flower_6 {
    width: 5.5rem;
    position: absolute;
    rotate: 10deg;
    top: 0%;
    left: 75%;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_6:nth-child(2) {
    bottom: 32rem;
    right: 45rem;
    animation-name: move-down1;
}

.hello_flower_61 {
    width: 3rem;
    position: absolute;
    rotate: 15deg;
    top: 20%;
    left: 70%;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_61:nth-child(2) {
    bottom: 32rem;
    right: 45rem;
    animation-name: move-down1;
}

.hello_flower_7 {
    width: 4rem;
    rotate: 15deg;
    position: absolute;
    top: 50%;
    left: 74%;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_7:nth-child(2) {
    bottom: 32rem;
    right: 45rem;
    animation-name: move-down1;
}

.hello_flower_8 {
    width: 3.5rem;
    rotate: 25deg;
    position: absolute;
    top: 89%;
    left: 95%;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.hello_flower_8:nth-child(2) {
    bottom: 32rem;
    right: 45rem;
    animation-name: move-down1;
}

.section_text {
    align-self: center;
    text-align: left;
    margin-top: 50px;
}

.section_text_p {
    font-weight: normal;
    letter-spacing: 1.6px;
    line-height: calc(1ex / 0.32);
    text-align: center;
}

.section_text_p1 {
    color: #000;
    font-family: Agrandir;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(1ex / 0.32);
    letter-spacing: 1.6px;
    flex: 0;
}

.section_text_p2 {
    color: #000;
    font-family: Agrandir;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(1ex / 0.32);
    letter-spacing: 1.6px;
    flex: 0;
    max-width: 70em;
}

.section_text_p3 {
    color: #000;
    font-family: Agrandir;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(1ex / 0.32);
    letter-spacing: 1.6px;
    flex: 0;
    max-width: 70em;
}

.title {
    font-size: 4.5rem;
    text-align: left;
    font-weight: 400;
    color: #0e4132;
}

/* BUTTONS */

.btn-container {
    display: flex;
    
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 2rem;
    background-color: #D5D3F8;
    color: #222;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-color-2 {
    border-radius: 43px;
    background: #D5D3F8;
}

.btn-color-3 {
    background-color: #0e4132;
    border: #222;
}

.btn-color-2:hover {
    background-color: #e1bee7;
    color: white;
}

/* PROJECTS SECTION */

.details-container {
    display: flex;
    padding: 1.5rem !important;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: calc(2rem + 15px);
    background-color: #F0F0F5;
    box-shadow: 417px 275px 140px 0px rgba(169, 169, 169, 0.00), 267px 176px 128px 0px rgba(169, 169, 169, 0.01), 150px 99px 108px 0px rgba(169, 169, 169, 0.05), 67px 44px 80px 0px rgba(169, 169, 169, 0.09), 17px 11px 44px 0px rgba(169, 169, 169, 0.10);
    width: initial;
}

.details-container:hover{
    background-color: #D5D3F8;
}

.details-container>h2 {
    color: #000;
    text-align: center;
    font-family: Agrandir;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    width: 440px;
    margin: 0;
}

.project-title {
    font-size: 2rem;
    font-weight: normal;
    color: #0e4132;
    font-family: 'ClashGrotesk';
    font-style: italic;
    text-decoration: none;
}

.project-img-container {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Agrandir;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    margin: 0;

}

.project-img-container img {
    transition: .3s ease;
}

.project-image {
    display: block;
    height: auto;
    border-radius: 2rem;
    object-fit: cover;
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    justify-content: center;
}

.project-img-container:hover #hover {
    filter: brightness(60%);
    transition: .3s ease;
}

.project-img-container:hover .overlay {
    opacity: 1;
}

.hover-text {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
    font-family: Agrandir;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 80%;
}

.color-container1 {
    border: 2px #222;
    background: #eda8ca;
    border-radius: calc(2rem + 15px);
}

/* ABOUT ME SECTION */
#aboutme .section_container {
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5vh;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.aboutme-h2 {
    margin: 0;
    color: #0E4132;
    font-family: 'ClashGrotesk';
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
}

.aboutme-subsection-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100ch;
}

.aboutme-subsection {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.primary-button {
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: auto;
    cursor: pointer;
}

.primary-button-style {
    padding: 18px 36px;
    font-family: Agrandir;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    border-radius: 43px;
    background: #D5D3F8;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1.6px;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}


.primary-button-style:hover {
    background: #9D9ADE;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#aboutme .section__pic-container {
    height: 60vh;
    margin-left: 1rem;
}

.pic_about_me {
    border-radius: 2rem;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 70px 49px 24px 0px rgba(122, 122, 122, 0.00), 45px 31px 22px 0px rgba(122, 122, 122, 0.01), 25px 18px 18px 0px rgba(122, 122, 122, 0.05), 11px 8px 14px 0px rgba(122, 122, 122, 0.09), 3px 2px 8px 0px rgba(122, 122, 122, 0.10);
}

.vibes-pic-container {
    width: 80vw;
}

.vibes {
    width: inherit;
}

/*QUOTE SECTION*/
.quote-heading{
    width: auto;
    color: #0E4132;
    text-shadow: 1px 1px 10px #FFF, 1px 1px 10px #F0F0F5;
    text-align: center;
    font-family: 'ClashGrotesk';
    font-size: 3rem;
    font-style: italic;
    font-weight: 200;
    line-height: calc(1ex / 0.32);
    margin: 0;
    padding: 0;
}

.quote-heading b{
    font-family: 'ClashGrotesk';
}

.quote-wrapper{
    display: flex;
    align-items: center;
}

@keyframes rotate1 {
    to {
      transform: rotate(0.5turn);
    }
  }
  
@keyframes rotate2 {
    to {
      transform: rotate(-0.5turn);
    }
}

.quote_flower_1 {
    width: 9.5rem;
    position: absolute;
    top: 0%;
    left: -2%;
    z-index: -1;
}

.quote_flower_11 {
    width: 4rem;
    position: absolute;
    rotate: 10deg;
    top: 0%;
    left: 11%;
    z-index: -1;
}

.quote_flower_2 {
    width: 7rem;
    position: absolute;
    top: 80%;
    left: 20%;
    z-index: -1;
}

.quote_flower_22 {
    width: 9rem;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: -1;
}

.quote_flower_222 {
    width: 9rem;
    position: absolute;
    top: -65%;
    left: 85%;
    z-index: -1;
}

.quote_flower_3 {
    width: 10rem;
    position: absolute;
    top: -100%;
    left: 10%;
    z-index: -1;
}

.quote_flower_33 {
    width: 5rem;
    position: absolute;
    top: 0%;
    left: 75%;
    z-index: -1;
}

.quote_flower_4 {
    width: 8rem;
    position: absolute;
    top: 90%;
    left: 75%;
    z-index: -1;
}

.quote_flower_44 {
    width: 4rem;
    position: absolute;
    top: 85%;
    left: 37%;
    rotate: 10deg;
    z-index: -1;
}

.quote_flower_5 {
    width: 11rem;
    position: absolute;
    top: 85%;
    left: 89%;
    z-index: -1;
}

.quote_flower_55 {
    width: 5rem;
    position: absolute;
    top: -85%;
    left: 35%;
    z-index: -1;
}

.quote_flower_555 {
    width: 5rem;
    position: absolute;
    top: -65%;
    left: 65%;
    z-index: -1;
}

.quote_flower_6 {
    width: 6rem;
    position: absolute;
    top: -75%;
    left: 45%;
    z-index: -1;
}

.quote_flower_66 {
    width: 3rem;
    position: absolute;
    top: 75%;
    left: 13%;
    z-index: -1;
}

#more .section_container{
    justify-content: center;
    gap: 300px;
    position: relative;
}

.get-in-touch{
    color: #000;
    font-family: Agrandir;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: calc(1ex / 0.32);
    margin: auto;
}

.linkedin{
    color: #9D9ADE;
    font-family: Agrandir;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: calc(1ex / 0.32);
}

#quote{
    padding-bottom: 10vh;
}

.text-center{
    text-align: center;
}

.italic-migra{
    font-family: 'ClashGrotesk';
    font-style: normal;
}

.gap-16{
    gap: 16px;
}

.gap-24{
    gap: 24px;
}

.gap-36{
    gap: 36px;
}

.gap-56{
    gap: 56px;
}

.flex{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.w-640{
    max-width: 70em;
}


.flex-wrap{
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: fit-content;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    overflow: hidden;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 70px 49px 24px 0px rgba(122, 122, 122, 0.00), 45px 31px 22px 0px rgba(122, 122, 122, 0.01), 25px 18px 18px 0px rgba(122, 122, 122, 0.05), 11px 8px 14px 0px rgba(122, 122, 122, 0.09), 3px 2px 8px 0px rgba(122, 122, 122, 0.10);
}

.card-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    height: inherit;
    width: inherit;
    backdrop-filter: blur(15px);
    padding: 50px 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

.card .content{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: bottom 0.5s;
    transition-delay: 0.2s;
}

.card:hover .content{
    bottom: 0px;
    transition-delay: 0s;
}
  
.flower_1 {
    width: 15%;
    position: absolute;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.flower_1:nth-child(1) {
    top: -25px;
    left: -25px;
}
  
.flower_1:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

.flower_2 {
    width: 20%;
    position: absolute;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.flower_2:nth-child(1) {
    top: 30%;
    left: -30px;
}
  
.flower_2:nth-child(2) {
    bottom: 20%;
    right: -5%;
    animation-name: move-down1;
}

.flower_3 {
    width: 14%;
    position: absolute;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.flower_3:nth-child(1) {
    top: -30px;
    left: -25px;
}
  
.flower_3:nth-child(2) {
    bottom: -30px;
    right: -25px;
    animation-name: move-down1;
}

.flower_31 {
    width: 30%;
    position: absolute;
    z-index: 1;
    rotate: 10%;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.flower_31:nth-child(1) {
    top: -25px;
    left: -25px;
}
  
.flower_31:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

.flower_4 {
    width: 30%;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: -6%;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.flower_5{
    width: 20%;
    position: absolute;
    z-index: 1;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.flower_5:nth-child(1) {
    top: -5%;
    left: 85%;
}
  
.flower_5:nth-child(2) {
    bottom: -30px;
    right: -30px;
    animation-name: move-down1;
}

.flower_6 {
    width: 25%;
    position: absolute;
    z-index: 1;
    rotate: 30deg;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.flower_6:nth-child(1) {
    top: -30px;
}
  
.flower_6:nth-child(2) {
    bottom: -10%;
    right: 70%;
    animation-name: move-down1;
}

  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }

/*PHOTO GRID*/
.pic-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(13rem,1fr));
    grid-auto-rows: 16vw;
    grid-gap: 5px;
    grid-auto-flow: dense;
}  

.pic-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pic-horizontal{
    grid-column: span 2;
}

.pic-vertical {
    grid-row: span 2;
}

@media only screen and (max-width: 1000px) {
    .hover-text {
        font-size: 1rem;
    }

    #home .section_text-container{
        margin-left: 2rem;
    }

    #home .aboutme-h2 {
        font-size: 1.5rem;
    }
}

/*MOBILE VERSION*/
@media only screen and (max-width: 600px) {

    .section__pic-container img{
        max-width: 80vw;
        max-height: 50vh;
    }


    .container {
         width: calc(100vw - 20vw);
         margin: 0 1rem;
    }

    section {
        gap: 0.5rem;
        align-items: center;
        padding-bottom: 8vh !important;
    }

    html{
        overflow-x: hidden;
    }

    body {
        display: grid;
        max-width: 100dvw;
        overflow-x: hidden;
        margin: 0;
    }
    
    #hamburger-nav {
        top: 0px;
        height: 10vh;
    }

    nav {
        backdrop-filter: blur(5px);
    }

    .section_container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        gap: 8vh;
        align-items: center;
    }

    #home .section_container{
        gap: 2rem;
    }

    .space_between{
        justify-content: space-between;
    }
   
   .title {
        text-align: center;
        font-size: 3.5rem;
   }
       
   .section__pic-container {
        width: fit-content;
        height: fit-content;
    }

    #home .section__pic-container {
        max-width: 100%;
    }

    #aboutme .section__pic-container {
        height: 50vh;
        margin-left: 0;
        max-width: fit-content;
        max-height: none;
    }

    #home img {
        width: inherit;
        object-position: 50% 50%;
    }

    #home {
        margin-top: 2vh;
    }
     #home .section_text-container{
        margin-left: 0rem;
    }
    .hello_flower_1 {
        left: -15%;
        top: 80%;
    }

    .hello_flower_5 {
        left: 30%;
        top: 90%;
        width: 6rem;
    }

    .hello_flower_6 {
        left: 70%;
        width: 3rem;
    }

    .hello_flower_61 {
        left: 80%;
    }

    .hello_flower_7 {
        top: 14rem;
        left: 85%;
        width: 4rem;
    }

    .hello_flower_8 {
        left: 80%;
    }

    .down {
        justify-content: center;
    }

    .section_text_p1 {
        text-align: center;
    }

    #home .primary-button{
        margin: auto;
    }

    .section_subcontainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        align-items: center;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        gap: 2vh;
    }
    .pic-grid {
        display: flex;
        flex-direction: column;
        width: 80vw;
        gap: 5px;
    }

    .content {
        display: none !important;
    }
    .card:hover .content{
        display: none;
    }

    .project-image {
        max-width: 100%;
        height: auto;
    }

    .details-container>h2 {
        max-width: fit-content;
        margin: 0 2px;
        font-size: 16px;
    }

    .overlay {
        display: none;
    }
    
    .aboutme-subsection-container {
        width: 100%;
    }

    .aboutme-h2 {
        text-align: left;
        font-size: 2rem;
    }

    #aboutme .primary-button{
        margin: 0;
    }

    #aboutme .primary-button-style {
        position: relative;
        right: 0;
    }

    #aboutme img {
        object-fit: cover;
        width: 80vw;
    }

    #quote img {
        margin-left: 20px;
        padding-right: 0px;
    }

    #more .section_container {
        flex-direction: column-reverse;
    }

    .get-in-touch{
        text-align: center;
        font-size: 18px;
    }
    .quote-heading{
        margin-top: 2rem;
        font-size: 36px!important;
    }

    .quote_flower_1 {
        width: 7rem;
        top: 30%;
        left: -10%;
    }

    .quote_flower_11 {
        top: -10%;
    }

    .quote_flower_2 {
        top: 90%;
    }

    .quote_flower_22 {
        width: 6rem;
        left: 80%;
    }

    .quote_flower_222 {
        width: 4rem;
        top: -20%;
    }

    .quote_flower_3 {
        width: 3rem;
        top: 0%;
        left: 37%;
    }
    .quote_flower_33 {
        top: 10%;
    }

    .quote_flower_4 {
        width: 6rem;
        top: 20%;
        left: 40%;
    }

    .quote_flower_44 {
        top: 95%;
        left: -5%;
    }

    .quote_flower_5 {
        width: 4rem;
        top: 90%;
        left: 80%;
    }

    .quote_flower_55 {
        top: 110%;
        left: 57%;
    }

    .quote_flower_555 {
        top: -10%;
        left: 55%;
    }

    .quote_flower_6 {
        top: 70%;
        width: 4rem;
    }

    #more .section_subcontainer {
        gap: 0.5rem;
        margin-top: 15vh;
    }

    .linkedin{
        font-size: 18px;
    }

}

/* @media (max-width: 601px) {
    .container {
         width: 100%;
        }
    } */