.keys {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    width: 700px;
    gap: 36px;
}

.key {
    width: 100px;
}

.margin-5{
    margin-left: 5px;
}

.illustration-button{
    display: flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    text-decoration: none;
}

.illustration-button:hover{
    text-decoration: none;
}

.illustration-button-anchor{
    text-decoration: none;
}

.illustration-button-anchor:hover{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.width-550{
    width: 550px;
}

.valentines_pic{
    max-width: 900px;
    max-height: 825px;
}

.gap-72{
    gap: 72px;
}

@media only screen and (max-width: 600px) {
.keys{
    width: 80vw;
    gap: 30px;
}

.key{
    width: 35vw;
}

#summary .primary-button-style{
    left: 0;
    right: 0;
}

.valentines_pic{
    width: 80vw;
}

.width-550{
    width: 80vw;
    text-align: left;
}

}

